{% extends 'main/shop.html' %}
{% load static %}
{% block title %} Add a product to the shop | ShopSite {% endblock %} 
{% block specific_script %}
<style>
      .inner {
      overflow: hidden;
      border-radius: 8px;
      padding-top: 0px;
      box-shadow: 0 0 8px gray;
    }
  
    input[type="file"] {
      font-style: italic;
    }
  


    label{
        font-style:italic;
        margin-bottom: 1px;  
        margin-right:50px;
    }
    input[type="file"]{
        font-style: italic;
    }
    #description{
        height: 150px;
    }

    [class*="btn"]{
  border-radius: 20px;
  width:75px;
}

[class*="sidebar-btn"]{
    border-radius:50%;
    width: 33px;
    padding:7px 7px 7px 7px;
    display:flex; 
    justify-content:center; 
    align-items:center;
  }
  /* @media(min-width:500px){
    .mobile-only-row{
      display:none;
      border:2px solid green;
    }
  } */

.target-location{
  display:grid;
  justify-content: center;
  /* border:1px solid indigo; */
  grid-template-columns:repeat(auto-fill, 190px);
  grid-auto-rows:200px;
  gap:1rem;
  
}

.camera_icon{
  border-radius:8px; 
  box-shadow:0 0 3px black;
  height: 200px;
  transform:scale(0.85);
  background-position: center;
  background-size: cover;
}

.mother .row{
  display:flex; 
  justify-content:center;
}

#image1::after{
content:'*'; 
color:red;
}
</style>
{% endblock %} 
{% block content %}
<div class="container">
  <div class="row big-row">
    <h1 class="h2 border-bottom pt-1 pb-3">
      <span>Add</span>
      <span class="text-danger"> product</span>
    </h1>
  </div>
</div>

<div class="big-container">
  <div id="main-container">
    <div class="container-fluid">
      
      <div class="row">
       
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-12 mother">

              <div class="row mb-2" >
                <div class="col-lg-1">
                  <label class="text-nowrap">Name:</label>
                </div>
                <div class="col-lg-7">
                  {{form.name}}
                </div>

                
              </div>

              <div class="row mb-2">
                <div class="col-lg-1">
                  <label class="text-nowrap">Price:</label>
                </div>
                <div class="col-lg-7">
                  {{form.price}}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-lg-1">
                  <label class="text-nowrap">Description:</label>
                </div>
                <div class="col-lg-7">
                  {{form.description}}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-lg-1">
                  <label class="text-nowrap">Stock:</label>
                </div>
                <div class="col-lg-7">
                  {{form.stock}}
                </div>
              </div>

              <div class="row mb-2 mobile-only-row">
                <div class="col-lg-1">
                  <label class="text-nowrap" id="image1">Image 1:</label>
                </div>
                <div class="col-lg-7">
                  {{form.image}}
                </div>
              </div>


              <div class="row mobile-only-row">
                <div class="col-lg-1">
                  <label class="text-nowrap">Note:</label>
                </div>
                <div class="col-lg-7">
                  <p style="font-style:italic" class="text-danger">'Image 1' will be used as the product image in the shop, the remaining images appear in the product preview section</p>
                </div>
              </div>

              <div class="row mb-2 mobile-only-row">
                <div class="col-lg-1">
                  <label class="text-nowrap">Image 2:</label>
                </div>
                <div class="col-lg-7">
                  {{form.image_2}}
                </div>
              </div>

              <div class="row mb-2 mobile-only-row">
                <div class="col-lg-1">
                  <label class="text-nowrap">Image 3:</label>
                </div>
                <div class="col-lg-7">
                  {{form.image_3}}
                </div>
              </div>


              <div class="row mb-2 mobile-only-row">
                <div class="col-lg-1">
                  <label class="text-nowrap">Image 4:</label>
                </div>
                <div class="col-lg-7">
                  {{form.image_4}}
                </div>
              </div>



              <div class="row mb-2 mobile-only-row">
                <div class="col-lg-1">
                  <label class="text-nowrap">Image 5:</label>
                </div>
                <div class="col-lg-7">
                  {{form.image_5}}
                </div>
              </div>



              <div class="row mb-2 mobile-only-row">
                <div class="col-lg-1">
                  <label class="text-nowrap">Image 6:</label>
                </div>
                <div class="col-lg-7">
                  {{form.image_6}}
                </div>
              </div>

              <div class="row mb-2 ">
                <div class="target-location col-lg-8 mt-2">
                  <div class="camera_icon"  id="1"></div>
                  <div class="camera_icon"  id="2"></div>
                  <div class="camera_icon"  id="3"></div>
                  <div class="camera_icon" id="4"></div>
                  <div class="camera_icon"  id="5"></div>
                  <div class="camera_icon"  id="6"></div>
                </div>

              </div>


              <div class="row mb-2">
                <div class="col-lg-8 col-md-1" style="text-align: center;margin-top: 2em;">
                  <input type="submit" class="btn btn-outline-success" value="Save" name="" id="">
                </div>
              </div>


             <!-- below here -->
            </div>
    
           
          </div>

          
    
        </form>  
    


        
      </div>



    </div>
   </div>                  
</div>
          

  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script>
  var camera_icons = document.querySelectorAll(".camera_icon");
  $('.camera_icon').hide();

  // console.log(camera_icons);
  // for(camera_icon of camera_icons){
  //   camera_icon.style.display = 'none'
  // }

   


  function preview_image(event, id, self) {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.getElementById(`${id}`);
      // output.style.display = 'block'
      // image = output.firstElementChild;
      $(`#${id}`).show(300) 
      output.style.backgroundImage = "url('" + reader.result + "')";
      
      console.log(output);
    };
    reader.readAsDataURL(event.target.files[0]);
  }
  </script>
</div>
</div>
<!-- SIDE NAV SECTION -->
<nav id="test_div">
  <div class="side-icon-container">
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'shop' shop.owner.username shop.name %}">
      <i class="fa fa-store"></i>
    </a>
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'my_shops' request.user.username %}">
      <i class="fa fa-shop"></i>
    </a>
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'all_shops' %}">
      <i class="fa fa-search"></i>
    </a>
  </div>
</nav>
<!-- BOTTOM NAV ICONS -->
<nav class="bottom-nav">
  <div class="bottom-nav-icons">
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'shop' shop.owner.username shop.name %}">
      <i class="fa fa-store"></i>
    </a>
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'my_shops' request.user.username %}">
      <i class="fa fa-shop"></i>
    </a>
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'all_shops' %}">
      <i class="fa fa-search"></i>
    </a>
  </div>
</nav>

{% endblock %}


