{% extends 'main/base.html' %} 
{% block specific_script %}
<style>
[class*="column"]{
  text-align:center;
  /* border:2px solid black; */
}
.row{
  display:flex; 
  justify-content: center;
}

[class*="card"]{
    border-radius:20px;
}

#card{
  border:0.5px solid gray;
  box-shadow: 0 0 6px  gray;
}

#card:hover{
  box-shadow: 0 0 6px  rgb(22, 24, 170);
}

[class*="card-body"] h3 a{
  text-decoration:none;
  font-style:italic;
}
a:hover{
  color: black;
}
::placeholder{
  text-transform: none;
}
[class*="btn"]{
  border-radius: 20px;
  width:75px;
}
input{
  text-transform: uppercase;
}

[class*="sidebar-btn"]{
    border-radius:50%;
    width: 33px;
    padding:7px 7px 7px 7px;
    display:flex; 
    justify-content:center; 
    align-items:center;
  }

</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="h2 border-bottom pt-1 pb-3">
      <span>All</span><span class="text-danger"> Shops</span>
    </h1>
  </div>
</div>

<div class="big-container">

<div id="test_div">
    <!-- <a class="btn btn-outline-primary sidebar-btn mb-2" href=""> <i class="fa fa-plus"></i></a> -->
    <!-- <a class="btn btn-outline-primary sidebar-btn mb-2"> <i class="fa fa-dashboard"></i></a> -->
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'my_shops' %}"><i class="fa fa-shop"></i></a>
    <a class="btn btn-outline-primary sidebar-btn mb-2"  href="{% url 'all_shops' %}"><i class="fa fa-shopping-cart"></i></a>
</div>

<div id="main-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col column">
          {% if messages %}
      <ul>
        {% for message in messages %}
        <h4 class="mt-4 text-muted" style="font-style:italic;">{{message}}</h4>
        {% endfor %}
      </ul>
      {% endif %}
      </div>
    </div>
  
  {% if search_query == '' and shops.count > 0 %}
  <div class="row">
    <form method="GET" action="" id="my-form" class="d-flex" role="search">
      <input name="q" maxlength="30" class="form-control me-2" type="search" placeholder="Search for shops..." aria-label="Search"/>
        <button class="btn btn-outline-success" style="margin-left: 5px" type="submit">Search</button>       
    </form>              
  </div>
  {% endif %}
    {% for shop in shops %}
  <div class="row mt-2" style="margin-bottom: 30px;">
    <div class="col-lg-8 column">
      
        <div class="card bg-light" id="card">
          <div class="card-body">
            <h3><a class="text-primary">{{shop.name}}</a></h3>
            <p class="text-muted">Created on {{shop.date_created}}</p>
            <a href="{% url 'shop' shop.id %}"><button class="btn btn-outline-success" >View</button></a>

          </div>
          
        </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
  
</div>



{% endblock %}
