{% extends 'main/base.html' %} 
{% block specific_script %}
<style>
.new-row{
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
}

@media(min-width:635.5px){
  .new-row{
    justify-content:flex-start;
  }
}
.shop-container{
  display:flex; 
  flex-direction: column;
  text-align:center;
  width:250px;
  padding:7px; 
  margin-right:15px; 
  overflow-x:hidden;
  border-radius: 20px;
  
}

.shop-container a {
  text-decoration: none;
}


.card{
  box-shadow: 0 0 3px  black;
  background-color: transparent;
}

.card:hover{
  box-shadow: 0 0 3px  rgb(22, 24, 170);
}


::placeholder{
  text-transform: none;
}

[class*="btn"]{
  border-radius: 20px;
  width:75px;
}
input[type="search"], input[type="search"]:focus{
  text-transform: uppercase;
  background-color: transparent;
}


[class*="sidebar-btn"]{
    border-radius:50%;
    width: 33px;
    padding:7px 7px 7px 7px;
    display:flex; 
    justify-content:center; 
    align-items:center;
  }

</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="h2 border-bottom pt-1 pb-3">
      <span>All</span><span class="text-danger"> Shops</span>
    </h1>
  </div>
</div>

<div class="big-container">
<div id="main-container">
  <div class="container-fluid">

    <div class="row">
      <form method="GET" action="" id="my-form" class="d-flex" role="search">
        <input name="q" maxlength="30" class="form-control me-2" type="search" placeholder="Search for shops..." aria-label="Search"/>
          <button class="btn btn-outline-success" style="margin-left: 5px" type="submit">Search</button>       
      </form>              
    </div>

    <div class="row">
      <div class="col column">
          {% if messages %}
      <ul>
        {% for message in messages %}
        <h4 class="mt-4 text-muted" style="font-style:italic;">{{message}}</h4>
        {% endfor %}
      </ul>
      {% endif %}
      </div>
    </div>
  
    
  
  <div class="new-row mt-3">
    {% for shop in shops %}  
        <div class="shop-container card  mb-2">
            <h5><a class="text-primary text-nowrap" id="text-nowrap">{{shop.name}}</a></h3>
            <p style="font-style:italic;" class="border-bottom">Created on {{shop.date_created}}</p>
            <p style="font-style:italic;" class="border-bottom">owner: {{shop.owner.email}}</p>
            <a href="{% url 'shop' shop.owner.username shop.name %}"><button class="btn btn-outline-success btn-sm" >View</button></a>
        </div>
      {% endfor %}
    </div>
    
  </div>
 
</div>
</div>
  
</div>

<nav class="bottom-nav">
  <div class="bottom-nav-icons">
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'my_shops' request.user.username %}"><i class="fa fa-shop"></i></a>
    <a class="btn btn-outline-primary sidebar-btn mb-2"  href="{% url 'all_shops' %}"><i class="fa fa-search"></i></a>
  </div>
</nav>


<nav id="test_div">
  <div class="side-icon-container">
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'my_shops' request.user.username %}"><i class="fa fa-shop"></i></a>
    <a class="btn btn-outline-primary sidebar-btn mb-2"  href="{% url 'all_shops' %}"><i class="fa fa-search"></i></a>
  </div>
</nav>


<script>
let shop_names = document.getElementsByClassName('text-primary text-nowrap');
for(const shop_name of shop_names){
  if(shop_name.innerHTML.length > 15){
    shop_name.innerHTML = shop_name.innerHTML.slice(0,16) + '...';
  }
}   
</script>

{% endblock %}
