<!-- @format -->

{% extends 'main/base.html' %} {% block specific_script %} {% load static %}
<style>
  [class*="card-body"] {
    padding-left: 0px;
    padding-right: 0px;
  }

  .big-container {
    padding: 2%;
  }

  .camera_icon {
    width: 12rem;
    height: 12rem;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: black;
  }

  ::placeholder {
    font-style: italic;
    text-align: center;
    text-transform: none;
  }

  [class*="btn"] {
    border-radius: 20px;
  }
  .card-body .container-fluid :nth-child(2) .col {
    display: flex;
    justify-content: center;
  }

  #attached {
    display: flex;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 45px;
    justify-content: center;
    align-items: center;
  }

  #input-field {
    text-transform: uppercase;
    height: 45px;
  }

  .invalid-feedback {
    text-align: center;
  }
  /* .card-body .container-fluid {
    display: flex;
    flex-direction: column;
    border: 2px solid black; 
    align-items: center;
  } */

  /* [class*="column"]{
    border: 2px solid blue;
  }


[class*="card-container"]{
  border:2px solid black;
} */
</style>
{% endblock %}
{% block title %} Create a new shop | eCampusmart {% endblock %} 
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="h2 border-bottom pt-1 pb-3"><span>Create a new</span><span class="text-danger"> shop</span></h1>
  </div>
</div>
<div class="big-container container">
  <div id="test_div">
    <div class="side-icon-container">
      <!-- <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'my_shops' request.user.username %}"><i class="fa fa-shop"></i></a>
      <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'all_shops' %}"><i class="fa fa-search"></i></a> -->
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- <div class="card-header text-center">
            <h3 class="fw-bold text-success" style="font-style: italic">Create a shop</h3>
          </div> -->
          <div class="card-body">
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="container-fluid big-container" style="padding: 3rem;">
                <div class="row mb-3">
                  <div class="col-lg-12" style="padding: 0px">
                    
                    <div class="row">

                    <div class="input-group col-lg-6 col-12 mt-2">
                      <input type="text" maxlength="30" id="input-field" oninput="check(this)" name="shop_name" class="form-control" placeholder="Choose a shop name" required autofocus />
                      <div class="input-group-prepend" style="border-radius: 0;">
                        <span class="btn btn-success" id="attached"><i class="fa fa-store"></i></span>
                      </div>
                    </div>
                    <div class="input-group col-lg-6 col-12 mt-2">
                      <input type="text" name="shop_category" class="form-control" id="input-field" placeholder="Enter shop category. Eg, shoes, phones, etc." required autofocus />
                      <div class="input-group-prepend">
                        <span class="btn btn-success" id="attached"><i class="fa fa-shop"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row" style="margin-bottom: 2rem;justify-content: center;">
                <h4 class="text-center mt-3">Choose a picture for your shop:</h4>
                <input type="file" class="form-control col-lg-7 col-12 mt-2" name="shop_picture" id="shop_picture" onchange="preview_image()" />
              </div>
              <div class="camera_icon" style="margin: auto;"></div>
              

                <div class="row mt-3" style="justify-content: center;">
                    <button type="submit" class="btn btn-outline-success" style="width: 100px;">Confirm</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col column">
            {% if messages %}
            <ul>
              {% for message in messages %}
              <h4 class="mt-4 text-danger" style="font-style: italic; text-align: center">{{message}}</h4>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
  function check(r) {
    let text = document.getElementById("input-field").value;
    if (text == "") {
      r.setAttribute("class", "form-control");
    } else if (text.length <= 30) {
      r.setAttribute("class", "form-control is-valid");
    } else {
      r.setAttribute("class", "form-control is-invalid");
    }
  }

  $(".camera_icon").hide();
  function preview_image() {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.querySelector(".camera_icon");
      // output.style.display = 'block'
      // image = output.firstElementChild;
      $(".camera_icon").show(300);
      output.style.backgroundImage = "url('" + reader.result + "')";

      console.log(output);
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>
{% endblock %}
