{% extends 'main/base.html' %}
 {% block specific_script %}
<style>
  
[class*="card-body"]{
  padding-left:0px;
  padding-right:0px;
}
  ::placeholder {
    font-style: italic;
    text-align: center;
    text-transform: none;
  }

  [class*="btn"]{
    border-radius:20px;
  }
  .card-body .container-fluid :nth-child(2) .col {
    display: flex;
    justify-content: center;
  }

  #attached {
    display:flex;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height:45px;
    justify-content: center;
    align-items:center;
  }

  #input-field {
    text-transform:uppercase;
    height:45px;
  }

  .invalid-feedback{
    text-align:center;
  }
  /* .card-body .container-fluid {
    display: flex;
    flex-direction: column;
    border: 2px solid black; 
    align-items: center;
  } */

  /* [class*="column"]{
    border: 2px solid blue;
  }


[class*="card-container"]{
  border:2px solid black;
} */

</style>
{% endblock %} {% block title%}create your new shop{% endblock %} 
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="h2 border-bottom pt-1 pb-3">
      <span>Create a new</span><span class="text-danger"> shop</span>
    </h1>
  </div>
</div>
<div class="big-container">
  <div id="test_div">
    <div class="side-icon-container">
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'my_shops' %}"><i class="fa fa-shop"></i></a>
    <a class="btn btn-outline-primary sidebar-btn mb-2"  href="{% url 'all_shops' %}"><i class="fa fa-search"></i></a>
    </div>
    
</div>



  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header text-center">
            <h3 class="fw-bold text-success" style="font-style: italic">
              Create a shop
            </h3>
          </div>
          <div class="card-body">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="container-fluid">
              <div class="row mb-3">
                <div class="col-lg-12" style="padding:0px;">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="btn btn-success" id="attached"><i class="fa fa-store"></i></span>
                    </div>
                    <input type="text" maxlength="30" id="input-field" oninput="check(this)" name="shop_name" class="form-control" placeholder="Choose a shop name" required autofocus>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-outline-success">Confirm</button>
                </div>
              </div>
  
            </div>
  
          </form>
          </div>
  
        </div>        
      </div>
    </div>
  </div>
  
</div>

<script>
  function check(r) {
    let text = document.getElementById("input-field").value;
    if (text == "") {
      r.setAttribute("class", "form-control");
    } else if (text.length <= 30) {
      r.setAttribute("class", "form-control is-valid");
    } else {
      r.setAttribute("class", "form-control is-invalid");
    }
  }
</script>
{% endblock %}
