{% extends 'main/base.html'%} {% block title %}Dashboard{% endblock %} 
{% block specific_script%}
<style>
     main #dashboard-items{
    display:flex;
    flex-direction: column;
    justify-content:start;
}
.dashboard [class*="card"]{
    height:250px;
    border-radius:20px;
    box-shadow: 0 0 4px  gray;   
}

.dashboard [class*="card"]:hover{
    box-shadow: 0 0 4px  rgb(105, 105, 231);   
}

.dashboard [class*="container"] .row{

    justify-content: start;
    /* border:2px solid black; */
}
.dashboard [class*="card"] [class*="card-body"]{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center; 
}

[class*="btn"]{
  border-radius:20px; 
  width:60px;
}


/* .dashboard [class*="card"] [class*="card-body"] {
    border:0.5px solid rgb(37, 59, 59); 
} */
#dashboard_active::after{
        content:""; 
        width:100%; 
        background-color:#088178; 
        position:absolute; 
        height:2px; 
        bottom:0px; 
        left:0px;
        border-radius: 25px;
}

#username_area{
  display:flex; 
  justify-content: space-between;
  align-items: baseline;
}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid mt-2">
  <div class="row">
    <main role="main">
      <div id="dashboard-items" class="flex-wrap">
        <h1 class="h2 border-bottom pt-1 pb-3" id="username_area">
          <div>
          <span>Dash</span><span class="text-danger">board</span>
        </div>
          <div>
            <span class="p-2"><i class="fa fa-user"></i></span><span class="h4">{{username}}</span>
          </div>
          
        </h1>
        <section class="dashboard">
          <div class="container-fluid mt-3">
            <div class="row">
              <div class="col-lg-2 col-md-6 mb-2">
                <div class="card bg-light">
                  <div class="card-body text-primary">
                    <h3 style="font-style: italic" class="text-nowrap">Create shop</h3>
                    <div>
                      <a href="{% url 'create_shop'%}"
                        ><button class="btn btn-outline-success">
                          <i class="fa fa-plus"></i></button
                      ></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-2 col-md-6 mb-2">
                <div class="card bg-light">
                  <div class="card-body text-primary">
                    <h3 style="font-style: italic">Your shops</h3>
                    <div>
                        <a href="{% url 'my_shops'%}"
                          ><button class="btn btn-outline-success">
                            <i class="fa fa-shop"></i></button
                        ></a>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-2 col-md-6 mb-2">
                <div class="card bg-light">
                  <div class="card-body text-primary">
                    <h3 style="font-style: italic" class="text-nowrap">Find shops</h3>
                    <div>
                      <a href="{% url 'all_shops' %}"><button class="btn btn-outline-success">
                        <i class="fa fa-search"></i>
                      </button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>
{% endblock %}
