{% extends 'main/base.html'%} {% block title %}Dashboard{% endblock %} 
{% block specific_script%}
<style>
     main #dashboard-items{
    display:flex;
    flex-direction: column;
    justify-content:start;
}


.dashboard .card:hover{
    box-shadow: 0 0 4px  blue;   
}

.dashboard .container .row{

    justify-content: start;
    /* border:2px solid black; */
}

.dashboard-container{
  height:150px; 
  display:flex;
  flex-direction:column; 
  align-items:center; 
  justify-content:center;
  margin-right:15px;
  border-radius:20px;
    box-shadow: 0 0 4px  black; 
    background-color:transparent;
}

[class*="btn"]{
  border-radius:20px; 
  width:60px;
}

.new-row{
  display:grid; 
  grid-template-columns: repeat(auto-fill, 180px);
}

  


#dashboard_active::after{
        content:""; 
        width:100%; 
        background-color:#088178; 
        position:absolute; 
        height:2px; 
        bottom:0px; 
        left:0px;
        border-radius: 25px;
}

#username_area{
  display:flex; 
  justify-content: space-between;
  align-items: baseline;
}
</style>
{% endblock %}
{% block content %}
<div class="container-fluid mt-2">
  <div class="row">
    <main role="main">
      <div id="dashboard-items" class="flex-wrap">
        <div>
        <h1 class="h2 border-bottom pt-1 pb-3" id="username_area">
          <div>
          <span>Dash</span><span class="text-danger">board</span>
        </div>
          <div  class="text-nowrap">
            <!-- <span class="h5"><span class="p-2 text-primary"><i class="fa fa-user"></i></span>{{username}}</span> -->
          </div>
          
        </h1>
      </div>
        <section class="dashboard">
          <div class="container-fluid mt-3">
            <div class="new-row">
                <div class="dashboard-container card mb-3">
                    <h3 style="font-style: italic" class="text-nowrap">Create shop</h3>
                      <a href="{% url 'create_shop'%}"
                        ><button class="btn btn-outline-primary">
                          <i class="fa fa-plus"></i></button
                      ></a>
                    </div>


                    <div class="dashboard-container card mb-3">
                      <h3 style="font-style: italic">Your shops</h3>
                      <div>
                          <a href="{% url 'my_shops'%}"
                            ><button class="btn btn-outline-primary">
                              <i class="fa fa-shop"></i></button
                          ></a>
                        </div>
                  
                  </div>


                  <div class="dashboard-container card mb-3">
                    <h3 style="font-style: italic" class="text-nowrap">Find shops</h3>
                      <a href="{% url 'all_shops' %}"><button class="btn btn-outline-primary">
                        <i class="fa fa-search"></i>
                      </button></a>
                    </div>
                
                
               </div>
                

              
               

              
                  
                </div>
        </section>
      </div>
    </main>
  </div>
</div>
{% endblock %}
