{% extends 'main/base.html'%} {% block title %}Dashboard{% endblock %} 
{% block content %}
<div class="container-fluid mt-2">
  <div class="row">
    <main role="main">
      <div id="dashboard-items" class="flex-wrap">
        <h1 class="h2 border-bottom pt-1 pb-3">
          <span>Dash</span><span class="text-danger">board</span>
        </h1>
        <section class="dashboard">
          <div class="container-fluid mt-3">
            <div class="row">
              <div class="col-lg-2 col-md-6 mb-2">
                <div class="card bg-light">
                  <div class="card-body text-warning">
                    <h3 style="font-style: italic">Create shop</h3>
                    <div>
                      <a href="{% url 'create_shop'%}"
                        ><button class="btn btn-outline-success">
                          <i class="fa fa-plus"></i></button
                      ></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-2 col-md-6 mb-2">
                <div class="card bg-light">
                  <div class="card-body text-warning">
                    <h3 style="font-style: italic">Your shops</h3>
                    <div>
                        <a href="{% url 'my_shops'%}"
                          ><button class="btn btn-outline-success">
                            <i class="fa fa-shop"></i></button
                        ></a>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-2 col-md-6 mb-2">
                <div class="card bg-light">
                  <div class="card-body text-warning">
                    <h3 style="font-style: italic">View shops</h3>
                    <div>
                      <button class="btn btn-outline-success">
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>
{% endblock %}
