{% extends 'main/shop.html' %} 
{% block title %} Edit Product | ShopSite{% endblock %} 
{% block specific_script %}
<style>
  label {
    font-style: italic;
    margin-bottom: 1px;
    margin-right: 50px;
  }

  [class*="btn"] {
    border-radius: 20px;
  }

  [class*="sidebar-btn"] {
    border-radius: 50%;
    width: 33px;
    padding: 7px 7px 7px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shop_logo {
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
    /* border:2px solid blue;  */
  }

 
  .inner {
    /* border:2px solid indigo;  */
    overflow: hidden;
    border-radius: 8px;
    padding-top: 0px;
    box-shadow: 0 0 8px gray;
  }

  input[type="file"] {
    font-style: italic;
  }

  #description {
    height: 150px;
  }

  [class*="btn"] {
    border-radius: 20px;
    width: 75px;
  }

  [class*="sidebar-btn"] {
    border-radius: 50%;
    width: 33px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 500px) {
    #test_div {
      padding-top: 15px;
    }
  }

  [class*="btn"] {
    border-radius: 20px;
  }

  [class*="sidebar-btn"] {
    border-radius: 50%;
    width: 33px;
    padding: 7px 7px 7px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shop_logo {
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
    /* border:2px solid blue;  */
  }

  .mother .row{
    display:flex; 

    justify-content:center;
  }

  .new-div{
  display:flex;
  flex-direction: row;
}

.detail-input{
  margin:5px;
}

</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="row big-row">
    <h1 class="h2 border-bottom pt-1 pb-3">
      <span>Edit</span>
      <span class="text-danger"> Product</span>
    </h1>
  </div>
</div>

<div class="big-container">
  <div id="main-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="row">
              <div class="col-lg-12 mother">

                <div class="row mb-2" >
                  <div class="col-lg-1">
                    <label class="text-nowrap">Name:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.name}}
                  </div>
  
                  
                </div>
  
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Price:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.price}}
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Description:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.description}}
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Stock:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.stock}}
                  </div>
                </div>
  
                <div class="row mb-2 ">
                  <div class="col-lg-1">
                    <label class="text-nowrap" id="image1">Image 1:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image}}
                  </div>
                </div>
  
  
                <div class="row ">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Note:</label>
                  </div>
                  <div class="col-lg-7">
                    <p style="font-style:italic" class="text-danger">'Image 1' will be used as the product image in the shop, the remaining images appear in the product preview section</p>
                  </div>
                </div>
  
                <div class="row mb-2 ">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 2:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_2}}
                  </div>
                </div>
  
                <div class="row mb-2 ">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 3:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_3}}
                  </div>
                </div>
  
  
                <div class="row mb-2 ">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 4:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_4}}
                  </div>
                </div>
  
  
  
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 5:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_5}}
                  </div>
                </div>
  
  
  
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 6:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_6}}
                  </div>
                </div>
  
                <div class="row mb-2 ">
                  <div class="target-location col-lg-8 mt-2">
                    <div class="camera_icon"  id="1"></div>
                    <div class="camera_icon"  id="2"></div>
                    <div class="camera_icon"  id="3"></div>
                    <div class="camera_icon"  id="4"></div>
                    <div class="camera_icon"  id="5"></div>
                    <div class="camera_icon"  id="6"></div>
                  </div>
  
                </div>

                <!-- below here -->
              <h4 class="h4 border-bottom pt-1 pb-3">
                <span>Product</span>
                <span class="text-danger"> Details</span> <span><small>(Optional)</small></span>
              </h4>
              <div class="btn btn-success" id="add-detail" onclick="add_detail_field_pair()">Add+</div>
  
              <div id="detail-container">
                <input type="hidden" value="" name="n" id="current_count_input">
  
                {% if product.product_details is not None %}
                {% for key, value, count in dict_tuple %}
                <div class="new-div">
                  <input class="form-control detail-input" name="det_{{count}}" type="text" value="{{key}}" >
                  <input class="form-control detail-input" name="val_{{count}}" type="text" value="{{value}}">
                </div>
                {% endfor %}
                {% endif %}
                
                
              </div>
  
  
                <div class="row mb-2">
                  <div class="col-lg-8 col-md-1" style="text-align: center;margin-top: 2em;">
                    <input type="submit" class="btn btn-outline-success" value="Save" name="" id="">
                  </div>
                </div>
  

              <!-- <div class="row mb-2">
                <div class="col-lg-1">
                  <label>Name:</label>
                </div>
                <div class="col-lg-5">{{ form.name }}</div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-1">
                  <label>Price:</label>
                </div>
                <div class="col-lg-5">{{ form.price }}</div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-1">
                  <label>Image:</label>
                </div>
                <div class="col-lg-5">
                  <input class="form-control" type="file" id="file_photo" onchange="preview_image(event)" name="product_picture" />
                  <div class="row" style="margin-top: 5px">
                    <div class="col-6 col-lg-6 col-sm-4">
                      <span style="font-style: italic">Currently:</span>
                      <div class="inner" style="background-size: cover;background-position: center;height: 9rem;background-image: url({{product.image.url}});"></div>
                    </div>

                    <div class="col-sm-4 col-lg-6 col-6">
                      <span style="font-style: italic">Change:</span>
                      <div class="inner" id="camera_icon" style="background-size: cover; background-position: center; height: 9rem"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-2" style="margin-top: 15px">
                <div class="col-lg-1 text-wrap">
                  <label>Description:</label>
                </div>
                <div class="col-lg-5">{{ form.description }}</div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-1 col-md-1">
                  <label>Stock:</label>
                </div>
                <div class="col-lg-5 col-md-5">{{ form.stock }}</div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-5 col-md-5" style="text-align: center">
                  <input type="submit" class="btn btn-outline-success" value="Save" name="" id="" />
                </div>
                </div>
                 -->
              </div>
            

            <!-- copy to here -->
            <div class="row">
              <div class="col-lg-12 mother">
  
               
  
               <!-- below here -->
              </div>
      
             
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SIDE NAV SECTION -->
<nav id="test_div">
  <div class="side-icon-container">
      <!-- <a class="btn btn-outline-primary sidebar-btn mb-2" href=""> <i class="fa fa-plus"></i></a> -->
  <!-- <a class="btn btn-outline-primary sidebar-btn mb-2"> <i class="fa fa-dashboard"></i></a> -->
  <a href="{% url 'shop' product.store.owner.username product.store.name %}" class="btn btn-outline-primary sidebar-btn mb-2" href=""> <i class="fa fa-store"></i> </a>
  <a href="{% url 'my_shops' request.user.username %}" class="btn btn-outline-primary sidebar-btn mb-2" href="">
    <i class="fa fa-shop"></i>
  </a>
  <a href="{% url 'all_shops' %}" class="btn btn-outline-primary sidebar-btn mb-2" href="">
    <i class="fa fa-search"></i>
  </a>
  </div>
  
</nav>
<!-- BOTTOM NAV SECTION -->
<nav class="bottom-nav">
  <div class="bottom-nav-icons">
    <a href="{% url 'shop' product.store.owner.username product.store.name %}" class="btn btn-outline-primary sidebar-btn mb-2" href=""> <i class="fa fa-store"></i> </a>
    <a href="{% url 'my_shops' request.user.username %}" class="btn btn-outline-primary sidebar-btn mb-2" href="">
      <i class="fa fa-shop"></i>
    </a>
    <a href="{% url 'all_shops' %}" class="btn btn-outline-primary sidebar-btn mb-2" href="">
      <i class="fa fa-search"></i>
    </a>
  </div>
</nav>

<script>
  const add_detail = document.getElementById('add-detail');
  const detail_container = document.getElementById('detail-container');
  const current_count_input = document.getElementById('current_count_input');
  current_count_input.value = document.querySelectorAll('.detail-input').length / 2;
  

  function preview_image(event) {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.getElementById("camera_icon");
      image = output.firstElementChild;
      output.style.display = "block";
      output.style.backgroundImage = "url('" + reader.result + "')";
    };
    reader.readAsDataURL(event.target.files[0]);
  }

  function add_detail_field_pair(event) {
      detail_input = document.createElement('input');
      value_input = document.createElement('input');
      new_div = document.createElement('div');
      new_div.setAttribute('class', 'new-div')
      var current_count = document.querySelectorAll('.detail-input').length / 2

      // Set attributes for the detail field
      detail_input.setAttribute('class', 'form-control detail-input');
      detail_input.setAttribute('placeholder', 'Detail');
      detail_input.setAttribute('name', `det_${current_count+1}`)

      // Set attributes for the corresponding value field
      value_input.setAttribute('class', 'form-control detail-input');
      value_input.setAttribute('placeholder', 'Value');
      value_input.setAttribute('name', `val_${current_count+1}`)

      // Append to the div, then to the container
      new_div.append(detail_input);
      new_div.append(value_input);
      detail_container.append(new_div)


      // Update the total count field
      current_count_input.value = document.querySelectorAll('.detail-input').length / 2
    }
</script>
{% endblock %}
