{% extends 'main/shop.html' %} 
{% block title %} Edit Product | ShopSite{% endblock %} 
{% block specific_script %}
<style>
  label {
    font-style: italic;
    margin-bottom: 1px;
    margin-right: 50px;
  }

  [class*="btn"] {
    border-radius: 20px;
  }

  [class*="sidebar-btn"] {
    border-radius: 50%;
    width: 33px;
    padding: 7px 7px 7px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shop_picture {
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
    /* border:2px solid blue;  */
  }

 
  .inner {
    /* border:2px solid indigo;  */
    overflow: hidden;
    border-radius: 8px;
    padding-top: 0px;
    box-shadow: 0 0 8px gray;
  }

  input[type="file"] {
    font-style: italic;
  }

  #description {
    height: 150px;
  }

  [class*="btn"] {
    border-radius: 20px;
    width: 75px;
  }

  [class*="sidebar-btn"] {
    border-radius: 50%;
    width: 33px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 500px) {
    #test_div {
      padding-top: 15px;
    }
  }

  [class*="btn"] {
    border-radius: 20px;
  }

  [class*="sidebar-btn"] {
    border-radius: 50%;
    width: 33px;
    padding: 7px 7px 7px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shop_picture {
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
    /* border:2px solid blue;  */
  }

  .mother .row{
    display:flex; 

    justify-content:center;
  }

  .new-div{
  display:flex;
  flex-direction: row;
}

.detail-input{
  margin:5px;
}

</style>
{% endblock %} {% block content %}
<div class="container">
  <div class="row big-row">
    <h1 class="h2 border-bottom pt-1 pb-3">
      <span>Edit</span>
      <span class="text-danger"> Product</span>
    </h1>
  </div>
</div>

<div class="big-container">
  <div id="main-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">

          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12 mother" id="mother">
  
                <div class="row mb-2" >
                  <div class="col-lg-1">
                    <label class="text-nowrap">Name:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.name}}
                  </div>
  
                  
                </div>
  
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Price:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.price}}
                  </div>
                </div>
  
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label>Note:</label>
                  </div>
  
                  <div class="col-lg-7">
                    <p style="font-style:italic" class="text-danger">Write relevant information about your product below but click <a href="#specifications"> here</a> to add specifications of the product (eg RAM, brand, processing speed etc)</p>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Description:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.description}}
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Stock:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.stock}}
                  </div>
                </div>
  
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap" id="image1">Image 1:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image}}
                  </div>
                </div>
  
  
                <div class="row mobile-only-row">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Note:</label>
                  </div>
                  <div class="col-lg-7">
                    <p style="font-style:italic" class="text-danger">'Image 1' will be used as the product image in the shop, the remaining images appear in the product preview section</p>
                  </div>
                </div>
  
                <div class="row mb-2 mobile-only-row">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 2:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_2}}
                  </div>
                </div>
  
                <div class="row mb-2 mobile-only-row">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 3:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_3}}
                  </div>
                </div>
  
  
                <div class="row mb-2 mobile-only-row">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 4:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_4}}
                  </div>
                </div>
  
  
  
                <div class="row mb-2 mobile-only-row">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 5:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_5}}
                  </div>
                </div>
  
  
  
                <div class="row mb-2">
                  <div class="col-lg-1">
                    <label class="text-nowrap">Image 6:</label>
                  </div>
                  <div class="col-lg-7">
                    {{form.image_6}}
                  </div>
                </div>
  
                <div class="row mb-2 ">
                  <div class="target-location col-lg-8 mt-2">
                    <div class="camera_icon"  id="1"></div>
                    <div class="camera_icon"  id="2"></div>
                    <div class="camera_icon"  id="3"></div>
                    <div class="camera_icon"  id="4"></div>
                    <div class="camera_icon"  id="5"></div>
                    <div class="camera_icon"  id="6"></div>
                  </div>
  
                </div>
  
                
                <template class="specification-row">
                  
                  <div class="col-lg-2"><input class="form-control detail-input" id="specification" name="det_1" type="text"  placeholder="specification" style="background-color:transparent; border-radius:20px;"></div>
                  <div class="col-lg-5"> <input class="form-control detail-input" id="detail" name="val_1" type="text"  placeholder="detail" style="background-color:transparent; border-radius:20px;"></div>
                  <div class="col-lg-1 text-danger mt-1" style="display:flex; justify-content:center; align-items:center;"> <button type="button" onclick="remove_row(this)" class="btn btn-danger sidebar-btn"><i class="fa fa-x"></i></button></div>
                
                    
                </template>
               
  
                <div class="row mb-2" id="specifications">
                   <div class="h3" style="text-align:center; font-style:italic;"> Specification <span class="text-danger">section</span> </div> 
                   <button type="button" class="btn btn-outline-success"  onclick="add_specification()">add <span><i class="fa fa-plus"></i></span></button>
                </div>

                {% if product.product_details is not None %}
                {% for key, value, count in dict_tuple %}

                <div class="row mb-2">
                  <div class="col-lg-2"><input class="form-control detail-input" id="specification" name="det_{{count}}" value="{{key}}" type="text"  placeholder="specification" style="background-color:transparent; border-radius:20px;"></div>
                  <div class="col-lg-5"> <input class="form-control detail-input" id="detail" name="val_{{count}}" value="{{value}}" type="text"  placeholder="detail" style="background-color:transparent; border-radius:20px;"></div>
                  <div class="col-lg-1 text-danger mt-1" style="display:flex; justify-content:center; align-items:center;"> <button type="button" onclick="remove_row(this)" class="btn btn-danger sidebar-btn"><i class="fa fa-x"></i></button></div>
                </div>  
  
                {% endfor %}
                {% endif %}
                
  
                <input type="hidden" value="1" name="n" id="n">
                
                
                <!-- below here -->
               
              <div class="row mb-2" id="last_row">
                <div class="col-lg-8 col-md-1" style="text-align: center;margin-top: 2em;">
                  <input type="submit" class="btn btn-outline-success" value="Save" name="">
                </div>
              </div>
              
            </div>
      
             
            </div>
  
            
      
          </form>  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SIDE NAV SECTION -->
<nav id="test_div">
  <div class="side-icon-container">
      <!-- <a class="btn btn-outline-primary sidebar-btn mb-2" href=""> <i class="fa fa-plus"></i></a> -->
  <!-- <a class="btn btn-outline-primary sidebar-btn mb-2"> <i class="fa fa-dashboard"></i></a> -->
  <a href="{% url 'shop' product.store.owner.username product.store.name %}" class="btn btn-outline-primary sidebar-btn mb-2" href=""> <i class="fa fa-store"></i> </a>
  <a href="{% url 'my_shops' request.user.username %}" class="btn btn-outline-primary sidebar-btn mb-2" href="">
    <i class="fa fa-shop"></i>
  </a>
  <a href="{% url 'all_shops' %}" class="btn btn-outline-primary sidebar-btn mb-2" href="">
    <i class="fa fa-search"></i>
  </a>
  </div>
  
</nav>
<!-- BOTTOM NAV SECTION -->
<nav class="bottom-nav">
  <div class="bottom-nav-icons">
    <a href="{% url 'shop' product.store.owner.username product.store.name %}" class="btn btn-outline-primary sidebar-btn mb-2" href=""> <i class="fa fa-store"></i> </a>
    <a href="{% url 'my_shops' request.user.username %}" class="btn btn-outline-primary sidebar-btn mb-2" href="">
      <i class="fa fa-shop"></i>
    </a>
    <a href="{% url 'all_shops' %}" class="btn btn-outline-primary sidebar-btn mb-2" href="">
      <i class="fa fa-search"></i>
    </a>
  </div>
</nav>

<script> 
  function preview_image(event) {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.getElementById("camera_icon");
      image = output.firstElementChild;
      output.style.display = "block";
      output.style.backgroundImage = "url('" + reader.result + "')";
    };
    reader.readAsDataURL(event.target.files[0]);
  }

  let one_time_count = document.querySelectorAll('#specification').length;
  document.getElementById('n').value = one_time_count; 

    function add_specification(){
      let mother = document.getElementById('mother'); 
      let last_row = document.getElementById('last_row');
      let count = document.querySelectorAll('#specification').length;
      let content = document.querySelector('.specification-row').innerHTML;
      content = content.replace(`name="val_1"`, `name="val_${count + 1}"`);
      content = content.replace(`name="det_1"`, `name="det_${count + 1}"`);
      let row = document.createElement('div');
      row.setAttribute('class', 'row mb-2'); 
      row.innerHTML = content;
      mother.insertBefore(row, last_row);
      document.getElementById('n').value = count + 1; 
    }


    function remove_row(r){
      let mother = document.getElementById('mother');
      let count = document.querySelectorAll('#specification').length;
      document.getElementById('n').value = count - 1; 
      mother.removeChild(r.parentNode.parentNode);
    }

</script>
{% endblock %}
