{% extends 'main/base.html' %}
{% block specific_script%}
<style>
  [class*="column"] {
    text-align: center;
    /* border:2px solid black; */
  }


  #card:hover {
    box-shadow: 0 0 6px rgb(22, 24, 170);
  }


  a:hover {
    color: black;
  }

  [class*="btn"] {
    border-radius: 20px;
    width: 75px;
  }
.buttons-container button, .buttons-container a{
  margin-right:1px; 
}
  [class*="sidebar-btn"] {
    border-radius: 50%;
    width: 33px;
    padding: 7px 7px 7px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shop-container{
  display:flex; 
  flex-direction: column;
  text-align:center;
  padding:8px; 
  margin-right:15px; 
  overflow-x:hidden;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0 0 2px  black;
  transform: scale(0.95);
  
  }

  .shop-container a{
    text-decoration:none;
  }

  .new-row{
  display:grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, 240px);
  row-gap:0.5rem; 
}

  ::placeholder {
    font-style: italic;
    text-transform: none;
  }

  #form-section {
    display: flex;
  }

  #form-section input {
    text-transform: uppercase;
  }

  input[type="search"], input[type="search"]:focus{  
    background-color:transparent; 
  }

  @media(max-width:586px) {
    #form-section input {
      height: 40px;
    }

    #form-section {
      align-items: baseline;
    }

  }

  .modal-content {
    border-radius: 5px;
  }
</style>
{% endblock %}

{% block content %}
<div class="modal fade" id="general_modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-muted" style="font-style:italic;">
          Are you sure you want to delete this shop and all of its
          products? This action cannot be undone. Please be certain.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cancel</button>
        <a href="" id="modal_link" class="btn btn-danger">Confirm</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edit_shop_modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> EDIT
          <span class="text-danger">SHOP</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="edit_shop_form" action="" method="POST">
          {% csrf_token %}
          <label for="edit_shop">Enter new shop name:</label>
          <input id="edit_shop_input" maxlength="30" type="text" class="form-control" name="shop_name" id="edit_shop" autofocus>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cancel</button>
            <input type="submit" id="modal_link" value="Confirm" class="btn btn-danger">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1 class="h2 border-bottom pt-1 pb-3">
      <span>Your</span>
      <span class="text-danger"> Shops</span>
    </h1>
  </div>
</div>
<div class="big-container">
  <div id="main-container">
    <div class="container-fluid">
      {% if search_query == '' and shops.count > 0 %}
      <div class="row">
        <form method="GET" action="" id="form-section" class="d-flex" role="search">
          <input name="q" maxlength="30" class="form-control me-2" type="search" placeholder="Search shops" aria-label="Search">
          <button class="btn btn-outline-success" style="margin-left: 5px" type="submit">Search</button>
        </form>
      </div>
      {% endif %}
      <div class="row">
        <div class="col column">
          {% if messages %}
          <ul>
            {% for message in messages %}
            <h4 class="mt-4 text-muted" style="font-style:italic;">{{message}}</h4>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="new-row mt-3">
        {% for shop in shops %}
        <div class="shop-container card mb-3">
          <h5>
            <a class="text-primary text-nowrap">{{shop.name}}</a>
          </h5>
          <p style="font-style:italic;" class="border-bottom">Created on {{shop.date_created}}</p>
          <div class="buttons-container" style="display:flex;">
            <a href="{% url 'shop' request.user.username shop.name %}">
              <button class="btn btn-outline-success btn-sm">View</button>
            </a>
            <!-- Button trigger modal -->
            <button type="button" onclick="change_action('{{shop.name}}', '{{shop.id}}', '{{shop.owner.username}}', '{{shop.name}}')" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit_shop_modal">
              Edit
            </button>
            <button type="button" onclick="change_href('{{shop.id}}', '{{shop.owner.username}}', '{{shop.name}}')" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#general_modal">
              Delete
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    let modal_link = document.getElementById('modal_link');
    var edit_shop_form = document.getElementById('edit_shop_form');
    var edit_shop_input = document.querySelector('#edit_shop_input');
    var edit_shop_modal = document.getElementById('edit_shop_modal');
    

    function change_href(id, username, shop_name) {
      modal_link.setAttribute('href', `/${username}/${shop_name}/delete`);
    };

    function change_action(name, id, username, shop_name) {
      edit_shop_form.setAttribute('action', `/${username}/${shop_name}/edit`);
      edit_shop_input.value = name;
      edit_shop_input.focus();
    };
  </script>
</div>
<nav id="test_div">
  <div class="side-icon-container">
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'create_shop'%}">
      <i class="fa fa-plus"></i>
    </a>
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'my_shops' request.user.username %}">
      <i class="fa fa-shop"></i>
    </a>
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'all_shops' %}">
      <i class="fa fa-search"></i>
    </a>
  </div>
</nav>
<nav class="bottom-nav">
  <div class="bottom-nav-icons">
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'create_shop'%}">
      <i class="fa fa-plus"></i>
    </a>
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'my_shops' request.user.username %}">
      <i class="fa fa-shop"></i>
    </a>
    <a class="btn btn-outline-primary sidebar-btn mb-2" href="{% url 'all_shops' %}">
      <i class="fa fa-search"></i>
    </a>
  </div>
</nav>
{% endblock %}
