{% extends 'main/base.html' %}

{% block content %}

<style>

    .pairPar {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .pair{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;  
      background-color: black;
      width: 50%;
      font-size: 18px;
      border: 1px solid white;
    }
    .pair div:first-child {
      border-right: 1px solid white;
      padding-right: 55px;
      margin-right: 50px;
    }

    .fixed-width {
      width: 400px;
      background-color: white;
      border: 1px solid rgb(0, 0, 0);
      font-weight: 600;
      font-size: 20px;
    }
   
   
</style>

<div class="container">



  <table class="table">
    <thead>
      <tr>
        <th scope="col">Products Ordered</th>
        <th scope="col">Price</th>
        <th style="display: flex; justify-content: center;"scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for product in order.products_ordered.all %}
      <tr>
        <td>{{product.product.name}}</td>
        <td>{{product.product.price}}</td>
        <td style="display: flex; justify-content: center;">{{product.quantity}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td style="font-weight: 800;">Total</td>
        <td></td>
        <td style="font-weight: 800;display: flex; justify-content: center;">{{cart_price}}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="text-center">Address Details</h3>
<div class="pairPar" >

  <ul class="list-group list-group-horizontal" >
    <li style="border-radius: 0;border-top-left-radius: 10px;" class="list-group-item fixed-width text-center">Hostel</li>
    <li  style="border-radius: 0;border-top-right-radius: 10px;" class="list-group-item fixed-width text-center">{{hostel}}</li>
  </ul>
  
  <ul class="list-group list-group-horizontal">
    <li style="margin-top: -1px; border-radius: 0;" class="list-group-item fixed-width text-center">Room Number</li>
    <li style="margin-top: -1px; border-radius: 0;" class="list-group-item fixed-width text-center">{{room_number}}</li>
  </ul>

  {% if location %}
  <ul  class="list-group list-group-horizontal">
    <li style="margin-top: -1px; border-radius: 0;" class="list-group-item fixed-width text-center">Location</li>
    <li style="margin-top: -1px; border-radius: 0;" class="list-group-item fixed-width text-center">{{location}}</li>
  </ul>
  {% endif %}
</div>

<div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
<h5 class="mt-3 text-center">Status: </h5>
<div style="display: flex;justify-content: center;flex-direction: column;width: 30%;">
  {% if order.delivery_date is not None %}
  <div class="btn btn-info">Approved, Pending Delivery</div>
  {% elif order.completed %}
  <div class="btn btn-success">Completed &checkmark;</div>
  {% else %}
  <div class="btn btn-danger">Pending Approval</div>
  {% endif %}
  <h1></h1>
  {% if order.delivery_date is not None %}
  <div class="btn btn-success">
    Delivery Date: {{order.delivery_date}}
  </div>
  </div>
</div>
  {% endif %}
</div>
    
<script>
  const pairPar = document.querySelector('.pairPar');
  pairPar.lastElementChild.lastElementChild.style.borderBottomRightRadius= '10px';
  pairPar.lastElementChild.firstElementChild.style.borderBottomLeftRadius= '10px';
</script>
  
  

{% endblock content %}