{% extends 'main/base.html' %}
{%load static%}
{% block title %} Process Order | eCampusmart {% endblock %}
{% block content %}

<style>

  .pairPar {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }


  .pair{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;  
    background-color: black;
    width: 50%;
    font-size: 18px;
    border: 1px solid white;
  }
  .pair div:first-child {
    border-right: 1px solid white;
    padding-right: 55px;
    margin-right: 50px;
  }

  .fixed-width {
    width: 400px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 600;
    font-size: 20px;
  }
 
 
</style>
<div class="container">
  <div class="row">
    <h1 class="h2 border-bottom pt-1 pb-3">
      <span class="shop_picture"><i class="fa fa-tag text-primary"></i></span><span>{{shop.name}} - Process Order</span>
    </h1>
  </div>
</div>


<style>
  input{
    margin-bottom: 1.5rem;
  }
  label {
    margin-top: 0.5rem;
  }

  .calc {
    display:flex;
    flex-direction: row;
  }
</style>


<div class="container">

  <h2 class="text-muted font-italic">Name of Customer: {{order.user_name}}</h2>
  <div>
   
     <table class="table">
      <thead>
        <tr>
          <th scope="col">Products Ordered</th>
          <th scope="col">Price</th>
          <th style="display: flex; justify-content: center;"scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for product in order.products_ordered.all %}
        <tr>
          <td>{{product.product.name}}</td>
          <td>{{product.product.price}}</td>
          <td style="display: flex; justify-content: center;">{{product.quantity}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td style="font-weight: 800;">Total</td>
          <td></td>
          <td style="font-weight: 800;display: flex; justify-content: center;">{{order.calc_price}}</td>
        </tr>
      </tbody>
    </table>

    <p class="text-danger" style="font-style: italic;">Delivery fees not included. This will be determined by this shop on delivery.</p>


  
  
  </div>

<form action="" method="POST">
{% csrf_token %}


<h3 class="text-center">Address Details</h3>
<div class="pairPar" >

  <ul class="list-group list-group-horizontal" >
    <li style="border-radius: 0;border-top-left-radius: 10px;" class="list-group-item fixed-width text-center">Hostel</li>
    <li  style="border-radius: 0;border-top-right-radius: 10px;" class="list-group-item fixed-width text-center">{{hostel}}</li>
  </ul>
  
  <ul class="list-group list-group-horizontal">
    <li style="margin-top: -1px; border-radius: 0;" class="list-group-item fixed-width text-center">Room Number</li>
    <li style="margin-top: -1px; border-radius: 0;" class="list-group-item fixed-width text-center">{{room_number}}</li>
  </ul>

  {% if location %}
  <ul  class="list-group list-group-horizontal">
    <li style="margin-top: -1px; border-radius: 0;" class="list-group-item fixed-width text-center">Location</li>
    <li style="margin-top: -1px; border-radius: 0;" class="list-group-item fixed-width text-center">{{location}}</li>
  </ul>
  {% endif %}
</div>

<div class="row form-group mt-5">
    <label style="font-size: x-large;font-weight: 700;" for="date" class="col-sm-3 col-form-label">Set Delivery Date:</label>
    <input id="date" name="delivery_date" type="date" class="form-control col-4 mt-2">
</div>

<input type="submit" value="Submit" class="btn btn-outline-success">
</form>
</div>

<script>
  const pairPar = document.querySelector('.pairPar');
  pairPar.lastElementChild.lastElementChild.style.borderBottomRightRadius= '10px';
  pairPar.lastElementChild.firstElementChild.style.borderBottomLeftRadius= '10px';
</script>




{% endblock %}