{% extends 'main/base.html' %} {% load static %} {% block content %}

<body style="background-color: darkslateblue">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="min-width: fit-content"
  >
    <div class="container-fluid">
      <a style="margin-right: 10%" class="navbar-brand" href="#"
        >{{shop.name}}</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul
          class="navbar-nav"
          style="width: 100%; padding-top: 15px; padding-bottom: 0"
        >
          <a href="{% url 'my_shops'%}" style="margin-right: 30px"
            ><button class="btn btn-outline-info">
              <i class="fa fa-shop"></i> Back To Shop List
            </button></a
          >
          <li
            class="nav-item"
            style="width: 70%; margin-right: 5%; max-width: 500px"
          >
            <form
              method="GET"
              action=""
              id="my-form"
              class="d-flex"
              role="search"
            >
              <input
                name="q"
                class="form-control me-2"
                type="search"
                placeholder="Search for products..."
                aria-label="Search"
              />
              <button
                class="btn btn-outline-success"
                style="margin-left: 5px"
                type="submit"
              >
                Search
              </button>
            </form>
          </li>
          {% if request.user == shop.owner %}
          <li class="nav-item">
            <a class="btn btn-success" href=""> Add Products</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="" type="button" class="btn btn-primary position-relative">
              Cart
              <span
                ><img
                  src="{% static 'images/cart.png' %}"
                  width="20px;height:10px;"
                  alt=""
              /></span>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >
                {{cart_product_count}}
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% if messages %}
        <ul class="messages btn btn-info col-12" style="list-style: none;">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
  {% endif %}

  <div style="width: 100%; height: 90%; position: fixed; overflow-y: auto">
    <div class="container">
      <div class="row">
        {% for product in products %}
        <div
          class="card"
          style="
            width: 18rem;
            margin: 2rem;
            border: 2px solid rgb(87, 9, 139);
            padding: 0;
          "
        >
          <a href=""
            ><img
              src="{{product.image.url}}"
              class="card-img-top"
              alt="{{product.image.url}}"
          /></a>

          <div class="card-body">
            <h5 class="card-title">GHC9876.00</h5>
            <p class="card-text">Product 99</p>

            {% if shop.owner == request.user %}
            <a href="" class="btn btn-primary">Edit</a>
            <a href="" class="btn btn-danger">Remove Product</a>
            {% else %}
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary"
              >Add to Cart</a
            >
            <a href="" class="btn btn-success">Buy</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

{% endblock %}
