main #dashboard-items{
    display:flex;
    flex-direction: column;
    justify-content:start;
}
.dashboard [class*="card"]{
    height:250px;
    border-radius:20px;
    
}
.dashboard [class*="container"] .row{

    justify-content: start;
    /* border:2px solid black; */
}
.dashboard [class*="card"] [class*="card-body"]{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center; 
}
/* .dashboard [class*="container"] .row,    */


.dashboard [class*="card"] [class*="card-body"] {
    border:0.5px solid lightslategray; 
}
/* .dashboard [class*="card"] [class*="card-body"],
.dashboard [class*="card"] [class*="card-body"] h3
{
    border:0px solid rgb(71, 49, 49);
}
 */

 #exampleModalLive .modal-content{
    
    border-radius:10px 10px 0px 0px;
    
 }

 